 *
 *  This file is part of MiniMenus module for Drupal.
 *
 *  MiniMenus module for Drupal is free software; you can redistribute it and/or 
 *  modify it under the terms of the GNU General Public License as published by 
 *  the Free Software Foundation; either version 2 of the License, or (at your 
 *  option) any later version.
 *
 *  MiniMenus module for Drupal is distributed in the hope that it will be 
 *  useful, but WITHOUT ANY WARRANTY; without even the implied warranty of 
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General 
 *  Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License along with   
 *  MiniMenus module for Drupal; if not, write to the Free Software Foundation, 
 *  Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
 */
 
#account-menu li {
	display: inline;
	list-style: none
}
#account-menu {
	background: #FFF;
	font-size: 16px;
	height: 20px;
	padding: 2px;
	position: absolute;
	right: 0;
	test-align: right;
	top: 0
}
#account-menu.regged a {
	border-left: 1px solid #000;
	margin-left: -16px;
	padding-left: 6px
}
#account-menu.regged b a {
	border-left: 0
}
#account-menu.anon b {
	border-right: 1px solid #000;
	margin-left: -16px;
	padding-right: 6px
}
#account-menu li {
	height: 16px
}
body {
	margin-top: 30px
}
